@{
    ViewData["Title"] = "Mushroom pickers";
}
<style>
    .Developing-container {
        display: flex;
        justify-content: center;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    .search-container {
        display: flex;
        justify-content: flex-end;
    }

    .search-container input[type="text"] {
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #ccc;
    }

    .search-container input[type="submit"] {
        padding: 5px 10px;
        margin-left: 5px;
        border-radius: 3px;
        border: 1px solid #007bff;
        background-color: #007bff;
        color: white;
        cursor: pointer;
    }
</style>

<div class="Developing-container">
    <div class="search-container">
        @using (Html.BeginForm("SearchMushroomPickers", "Lab1", FormMethod.Get))
        {
            <input type="text" name="searchString" placeholder="Search...">
            <input type="submit" value="Search">
        }
    </div>
</div>
<h2>Mushroom Pickers</h2>
<table>
    <tr>
        <th>@Html.ActionLink("ID", "Mushroom_picker", new { sortOrder = ViewBag.IdSortParm })</th>
        <th>@Html.ActionLink("Name", "Mushroom_picker", new { sortOrder = ViewBag.NameSortParm })</th>
        <th>@Html.ActionLink("Year of Birth", "Mushroom_picker", new { sortOrder = ViewBag.YearOfBirthSortParm })</th>
    </tr>
    @foreach (var picker in ViewBag.Mushroom_Pickers ?? Enumerable.Empty<Mushroom_picker>())
    {
        <tr>
            <td>@picker.idmushroom_picker</td>
            <td>@picker.name</td>
            <td>@picker.yearbirth</td>
        </tr>
    }
</table>
